body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #202020;
  color: white;
}
a, a:visited, .clickable {
  color: #80ff80;
  text-decoration: none;
}
label {
  display: inline-block;
  text-align: right;
  margin-right: 30px;
  font-weight: bold;
}
input {
  width: 180px;
  margin-top: 15px;
}
h1 {
  font-size: 36px;
  font-weight: bold;
}
button {
  margin-top: 30px;
  height: 96px;
  width: 180px;
  background-color: #20c020;
  font-size: 54px;
  font-weight: bold;
}
button:hover {
  background-color: #a0ffa0;
}
#results {
  height: 600px;
  width: 100%;
  font-size: 24px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  background-color: black;
}
.clickable:hover {
  cursor:pointer; 
}
